#typoMenu {
  position: absolute;
  z-index: 5;
  border-radius: 4px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
}
#typoMenu .typoItemContainer {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
#typoMenu .typoItem {
  padding: 5px 10px 5px 15px;
  transition: all 0.2s
}
#typoMenu .typoItem:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
#typoMenu .typoItem:hover + .typoSugMenu {
  display: inline-block;
}
#typoMenu .typoSugMenu {
  display: none;
  margin-right: 10px;
}
#typoMenu .typoSugMenu:hover{
  display: inline-block!important;
}
#typoMenu .typoSugMenu {
  padding: 5px 10px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
#typoMenu .typoSugItem:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
